fastapi
uvicorn
pymongo
python-dotenv
pydantic
passlib
bcrypt==3.2.2
python-jose[cryptography]
google-generativeai
dnspython
email-validator
google-auth
requests
pydantic-settings
feedparser
yfinance
apscheduler